* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, hr, blockquote, dl, dt, dd, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
.cursor:hover {
    color: #409EFF;
    text-decoration: underline;
    cursor: pointer;
}

.proj-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
}

.proj-item-title {
    font-size: 14px;
    color: #606266;
}

.primary-color {
    color: #409EFF;
}

.danger-color {
    color: #F56C6C;
}

.el-link {
    font-weight: normal !important;
}
.el-link+.el-link {
    margin-left: 10px;
}

.bomb-back-menu {
    padding: 4px;
    cursor: pointer;
}
.bomb-back-menu:hover {
    background-color: #F2F6FC;
}
