.at-table {
    position: relative;
    color: #3F536E;
    font-size: 14px;
    overflow: hidden;
}
.at-table .at-table__tbody .at-table-row-active{
    background-color: #eaf4ff;
}
.at-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    overflow: hidden;
}

.at-table table th, .at-table table td {
    height: 40px;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #ECECEC;
}

.at-table table th.at-table__cell--nodata, .at-table table td.at-table__cell--nodata {
    text-align: center;
}

.at-table__cell {
    padding: 0 16px;
    border-bottom: 1px solid #ECECEC;
}

.at-table__content {
    /*border: 1px solid #ECECEC;*/
    border-bottom-width: 0;
}

.at-table__thead > tr > th {
    font-weight: bold;
    text-align: left;
    /*background-color: #F7F7F7;*/
    white-space: nowrap;
}

.at-table__tbody > tr {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.at-table__tbody > tr:hover {
    background-color: #f6fafe;
}

.at-table__footer {
    position: relative;
    margin: 16px 0;
    height: 28px;
}

.at-table__footer .at-pagination {
    float: right;
}

.at-table__footer .at-pagination__total {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 16px;
}

.at-table--fixHeader .at-table__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom-width: 1px;
}

.at-table--fixHeader .at-table__header table {
    /*border: 1px solid #ECECEC;*/
    border-bottom: none;
}

.at-table--fixHeader .at-table__body {
    flex: 1;
    overflow: auto;
}

.at-table--stripe .at-table__tbody > tr:nth-child(2n) {
    background-color: #fbfbfb;
}

.at-table--stripe .at-table__tbody > tr:hover {
    background-color: #eaf4ff;
}

.at-table--border .at-table__content {
    border-right: none;
}

.at-table--border .at-table__thead th, .at-table--border .at-table__thead td,
.at-table--border .at-table__tbody th,
.at-table--border .at-table__tbody td {
    border-right: 1px solid #ECECEC;
}

.at-table--large {
    font-size: 13px;
}

.at-table--large table th, .at-table--large table td {
    height: 56px;
}

.at-table--small {
    font-size: 11px;
}

.at-table--small table th, .at-table--small table td {
    height: 32px;
}

.at-table--small .at-table__thead .at-table__column-sorter {
    width: 7px;
    height: 14px;
}

.at-table--small .at-table__thead .at-table__column-sorter-up, .at-table--small .at-table__thead .at-table__column-sorter-down {
    font-size: 7px;
}

.at-table .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    /*width: 24px;*/
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}

.at-table .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
}

.at-table .sort-caret.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px;
}

.at-table .sort-caret.descending {
    border-top-color: #c0c4cc;
    bottom: 7px;
}

.at-table .sort-asc .sort-caret.ascending {
    border-bottom-color: #409EFF;
}

.at-table .sort-desc .sort-caret.descending {
    border-top-color: #409EFF;
}
